body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.container {
  
    animation: orbit 4s linear infinite;
   
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 249, 240);
    animation-name: circle;
    animation-name: orbit;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

@keyframes orbit {
    from {
        transform: rotate(0);

    }
    to {
        transform: rotate(10deg);

    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.boxes {
    margin:100px;
    width: 200px;
    height: 200px;
    background-color: teal;
    transition-duration: 1s;
    transition-property: border-radius, background-color;
transition-property: all;
transition-delay: 0.1s;
transition-timing-function: linear;

}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.text {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 249, 240);
    animation-name: circle;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: initial;
}

h1,
h2,
h3 {
    font-family: 'Helvetica Neue';
    font-weight: 600;
    letter-spacing: 0.5px;
}

.btn,
.btn-dark,
.btn-check:focus + .btn-dark,
.btn-dark:focus,
.btn-check:focus + .btn,
.btn:focus {
    border: none;
    box-shadow: none;
}

.btn-dark:hover {
    background: #212529;
}

.bg-primary,
.btn-light {
    letter-spacing: 0.7px;
}
